.semaforo{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: green;
}
.rojo{
    background-color: goldenrod;
}